<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' type='text/css' href='/stylesheets/main.css'>
        <script src="https://kit.fontawesome.com/2524b90394.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src='/javascript/main.js'></script>
        <script src='/javascript/slideshow.js'></script>
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    </head>
    <body>

        <div id='page'>
            <div class='topnav'>
                <span class='simpleNavBar'>
                    <button class='simpleNav active'>Home</button>
                    <button class='simpleNav'>About</button>
                    <button class='simpleNav'>Contact Us</button>
                </span>
                <form style='display: inline' id='searchForm' action='/'>
                    <span class='simpleSearch'>
                        <input id='searchInput' type='search' name='search' placeholder="Search Monster Hunter Wiki">
                        <button id='searchButton' type='submit' name='go'><i class="fa fa-search"></i></button>  
                    </span>
                </form>
            </div>
            <div id='body'>
                <div class='content'>
                    <div style='display: flex;flex-wrap: wrap;'>
                        <div class='welcome'>
                            <h1><%= message %></h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque eleifend donec pretium vulputate sapien nec sagittis aliquam.
                            </p>
                        </div>
                        <div id='statistics'>
                            <ul>
                                <li class='stat'>Number of articles: <span style='font-weight: bold'>0</span></li>
                                <li class='stat'>Number of files: <span style='font-weight: bold'>0</span></li>
                                <li class='stat'>Number of active users: <span style='font-weight: bold'>0</span></li>
                                <li class='stat'>Number of edits: <span style='font-weight: bold'>0</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class='slideshow-container'>
                        <% for (var i = 0; i < featuredImages.length; i++) { %>
                            <div class="slide fade">
                                <img class='featured' src="/images/featured/<%= featuredImages[i] %>">
                            </div>
                        <% } %>
                        <a class="prev">&#10094;</a>
                        <a class="next">&#10095;</a>
                        <div class='bottom-bar'>
                            <div class='caption'>
                                <% for (var i = 0; i < featuredImages.length; i++) { %>   
                                    <span id='caption<%=i%>' class='caption-header'>Caption <%= i %></span>
                                <% } %>
                            </div>
                            <div class='thumbnail-group'>
                                <% for (var i = 0; i < featuredImages.length; i++) { %>   
                                    <div id='thumb<%=i%>' class="thumbnail">
                                        <img class='featured-thumb' src="/images/featured/<%= featuredImages[i] %>">
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class='latest-tile-row'>
                            <% for (var i = 0; i < gameImages.length; i++) { %>  
                                <div class='latest-tile'>   
                                    <div class='tile-top'>
                                        <img class='game-thumb' src="/images/games/<%= gameImages[i].image %>">
                                    </div>
                                    <div class='tile-bottom'>
                                        <span class='image-text'><%= gameImages[i].title %></span>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <div style='display: flex; justify-content: flex-end;'>
                            <span class='games-link'>Full Games List ></span>
                        </div>
                    </div>
                    <div class='main-content-tile-row'>
                        <% for (var i = 0; i < mainContentImages.length; i++) { %>
                            <div class='main-content-tile'>
                                <div class='main-content-top'>
                                    <img class='main-content-thumb' src="/images/main_content/<%= mainContentImages[i].image %>">
                                </div>
                                <div class='main-content-bottom'>
                                    <span class='image-text'><%= mainContentImages[i].text %></span>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <div id='popular-pages'>
                        <div class='section-header'>Popular Pages</div>
                        <div id='popular-pages-btn-group'>
                            <% for (var i = 0; i < poppages.length; i++) { %>
                                <button class='popular-pages-btn'><%= poppages[i] %></button>
                            <% } %>
                        </div>
                    </div>
                    <div id='announcements'>
                        <div class='section-header'>Announcements</div>
                        <div>
                            <span class='sub-header'>2 March 2020</span>
                            <ul>
                                <li>
                                    <span class='announce-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                </li>
                            </ul>
                            <span class='sub-header'>15 February 2020</span>
                            <ul>
                                <li>
                                    <span class='announce-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Metus vulputate eu scelerisque felis imperdiet proin.</span>
                                </li>
                            </ul>
                            <span class='sub-header'>1 February 2020</span>
                            <ul>
                                <li>
                                    <span class='announce-text'>mattis pellentesque id nibh tortor id aliquet lectus proin nibh.</span>
                                </li>
                            </ul>
                            <span class='sub-header'>25 December 2019</span>
                            <ul>
                                <li>
                                    <span class='announce-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae tempus quam pellentesque nec nam aliquam sem. Mauris in aliquam sem fringilla ut morbi tincidunt.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class='footer'>

            </div>
        </div>
        <button id="goToTop" title="Go to top"><i class="fas fa-chevron-circle-up"></i></button> 
    </body>
</html>